extends layout

block content
  h1= title

  // Wrapper
  #wrapper

        // CITY LIST
        #cityListajax
            table
                thead
                    th City
                    th State
                    th Current Temperature (F)
                    th Max - Min Temperature (F)
                    th Overall Weather
                tbody
        // /CITY LIST
        .img-box
         img(src="http://icons.wxug.com/graphics/wu2/logo_130x80.png",alt="weather source" height="45" width="60")
    // /WRAPPER
